@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
  html {
    scroll-behavior: smooth;
  }
  p {
    @apply text-[#929292] text-base;
  }
}

.swiper .swiper-slide {
  @apply !h-auto;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }.flex-between {
    @apply flex items-center justify-between;
  }
  .heading {
    @apply text-3xl lg:text-[40px] text-white font-semibold mb-5;
  }
  .heading .highlight {
    @apply text-[#A4A4A4];
  }
  .animation-slide-top {
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .instant-logos img:nth-child(1){animation:instantUp 2s infinite alternate}
  .instant-logos img:nth-child(2){animation:instantUp 2s infinite alternate}
  .instant-logos img:nth-child(3){animation:instantUp 2s infinite alternate}
  .instant-logos img:nth-child(4){animation:instantUp 2s infinite alternate}
  .instant-logos img:nth-child(5){animation:instantDown 2s infinite alternate}
  .instant-logos img:nth-child(6){animation:instantDown 2s infinite alternate}
  .instant-logos img:nth-child(7){animation:instantDown 2s infinite alternate}
  .instant-logos img:nth-child(8){animation:instantDown 2s infinite alternate}
}


@keyframes instantUp {
  0%{ transform: translateY(0) }
  100% { transform: translateY(-10px) }
}
@keyframes instantDown {
  0% { transform: translateY(-10px) }
  100% { transform: translateY(0) }
}